    <!-- <div class="bg relative flex flex-col w-full top-0 left-4"> -->
        <!-- <swipe-image-gallery></swipe-image-gallery> -->
    <!-- </div> -->

    <div class="flex flex-col xl:flex-row">
        <div class="relative flex-none h-64 xl:w-48 w-full">
            <swipe-image-gallery></swipe-image-gallery>
        </div>
        <!-- <div class="relative grow bg-red-200">
            Test2
        </div> -->
    </div>
    <!-- <div class="h-192 bg-green-200">Test</div>
    <div class="h-192 bg-green-200">Test</div> -->
 