<!-- <div class="flex flex-col xl:flex-row-reverse mb-4">
    <div class="relative flex-none h-64 xl:w-96 w-full mb-4">
        <swipe-image-gallery></swipe-image-gallery>
    </div>
    <div class="relative grow mr-4">
        <h3 class="mt-4 mb-2 leading-8 text-xl font-bold">Testrepository</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    
</div>
<div class="border-t border-light my-8"></div>
<div class="flex flex-col xl:flex-row-reverse">
    <div class="relative flex-none h-64 xl:w-96 w-full mb-4">
        <swipe-image-gallery></swipe-image-gallery>
    </div>
    <div class="relative grow mr-4">
        <h3 class="mt-4 mb-2 leading-8 text-xl font-bold">Testrepository</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
  -->

<presentation>
    <img src="https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Unsplash Image">
</presentation>