<div class="h-32 w-full">
    <div class="presentation" [style.--x1]="'-10'" [style.--x2]="'70'" [style.--y1]="'-45'">
        <div class="presentation__image">
            <ng-content></ng-content>
        </div>
    </div>
</div>


<!-- <div class="mx-auto flex items-center p-16 max-sm:p-6">
    <img class="aspect-square max-h-72 w-full mask-radial-[100%_200%] mask-radial-from-transparent mask-radial-from-15% mask-radial-to-black mask-radial-to-60% mask-radial-at-right object-cover object-top-left dark:hidden" src="/keyboard-light.4a0a59a0.png" alt="" />
    <img class="hidden aspect-square max-h-72 w-full mask-radial-[100%_200%] mask-radial-from-transparent mask-radial-from-15% mask-radial-to-black mask-radial-to-60% mask-radial-at-right object-cover object-top-left dark:block" src="/keyboard-dark.d0689e65.png" alt="" />
    <div class="font-medium max-sm:-mx-3">
        <p class="font-mono text-xs text-blue-500 uppercase dark:text-blue-400">Speed</p>
        <p class="mt-2 text-base whitespace-nowrap text-gray-700 dark:text-gray-300">Built for power users</p>
        <p class="mt-1 text-sm leading-relaxed text-balance text-gray-500">Work faster than ever with our keyboard shortcuts</p>
    </div>
</div> -->
